extends layout

block scripts
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js")
	script(src="/javascripts/jquery.masonry.min.js")
	script
		$(document).ready(function(){
			$('#container').masonry({
				itemSelector: '.item',
				animationOptions: {
				duration: 400
				},
				isAnimated:true,
				isFitWidth:true
			});
		});

block content
	h1= title
	#centerbox
		#container
			-var divcount=0,colorcount=0;
			-for(key in colors){
				-divcount++;
				-colorcount++;
				.item(style='#{colors[key].style}')
					.linebox
						span.repeat #{divcount}
						span #{key}
						span.msg
							| [#{colors[key].c.split('').sort().join('')}]
						-if(colors[key].repeat)
							-colorcount--;
							span.repeat
								| [REPEAT]
					.inner
						-for (var i = 0; i < colors[key].place.length; i++) {
							| #{colors[key].place[i].line}-#{colors[key].place[i].file}
							br
						-};
					.inner
						-var coloritems=colors[key].style.split(';').sort();
						-for (var i = 0; i < coloritems.length; i++) {
							-if(coloritems[i].length>0)
								li #{coloritems[i]}
						-};
			-}
			.item
				span.repeat Summary
				li Instances: #{divcount}
				li Unique color sets: #{colorcount}